ADF-SalesProject-Kiran/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-SalesProject-Kiran"
		},
		"LS_ADLS_RAW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_RAW'"
		},
		"LS_SQL_SOURCE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_SOURCE'"
		},
		"LS_ADLS_RAW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlssalesprojectkiran.dfs.core.windows.net/"
		},
		"LS_SQL_SOURCE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "admin-salesproject.database.windows.net"
		},
		"LS_SQL_SOURCE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SALES"
		},
		"LS_SQL_SOURCE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Admin_Sales"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_TO_RAW_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_GEN_LKP_CONFIG",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.10:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM Config_Source_To_Raw\nWHERE SourceSystem = 'SQLServer'",
								"queryTimeout": "01:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_METADATA",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ACT_ITRC_FOR_ROW_DATA",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ACT_GEN_LKP_CONFIG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ACT_GEN_LKP_CONFIG').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ACT_MT_Copy_SQL_RAW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "ACT_GEN_LKP_Watermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@if(\nempty(item().IncrementalColumn),\nconcat('SELECT * FROM ',item().SourceSchema,'.',item().SourceTable),\nconcat(\n'SELECT * FROM ',\nitem().SourceSchema,'.',item().SourceTable,\n' WHERE ',\nitem().IncrementalColumn,\n' > ''',\nactivity('ACT_GEN_LKP_Watermark').output.firstRow.LastProcessedValue,\n''''\n)\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_SRC_TABLE",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_RAW_TRG",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "SQLServer/Target/@{item().SourceTable}",
													"type": "Expression"
												},
												"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv"
											}
										}
									]
								},
								{
									"name": "ACT_GEN_LKP_Watermark",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT LastProcessedValue\nFROM WatermarkTable\nWHERE Table_Name = '@{item().SourceTable}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQL_METADATA",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "ACT_GEN_SPRC_UPD_Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ACT_MT_Copy_SQL_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_UpdateWatermark]",
										"storedProcedureParameters": {
											"TableName": {
												"value": {
													"value": "@item().SourceTable",
													"type": "Expression"
												},
												"type": "String"
											},
											"LastValue": {
												"value": {
													"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
													"type": "Expression"
												},
												"type": "Datetime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQL_SOURCE",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_METADATA')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_SRC_TABLE')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_TRG')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_SOURCE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW_TRG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_RAW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_METADATA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_SOURCE",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SourceSystem",
						"type": "nvarchar"
					},
					{
						"name": "SourceSchema",
						"type": "nvarchar"
					},
					{
						"name": "SourceTable",
						"type": "nvarchar"
					},
					{
						"name": "IncrementalColumn",
						"type": "nvarchar"
					},
					{
						"name": "TargetContainer",
						"type": "nvarchar"
					},
					{
						"name": "TargetFileName",
						"type": "nvarchar"
					},
					{
						"name": "TargetFormat",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Config_Source_To_Raw"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_SOURCE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_SRC_TABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_SOURCE",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_SOURCE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_RAW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_RAW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_SOURCE_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_SOURCE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_SOURCE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_SOURCE_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}