ADF-SalesProject-Kiran/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-SalesProject-Kiran"
		},
		"LS_ADB_SalesProject_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_ADB_SalesProject'"
		},
		"LS_ADLS_RAW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_RAW'"
		},
		"LS_SQL_METADATA_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_METADATA'"
		},
		"LS_SQL_SOURCE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_SOURCE'"
		},
		"LS_ADB_SalesProject_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0319-164820-o84x6hsr"
		},
		"LS_ADLS_RAW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlssalesprojectkiran.dfs.core.windows.net/"
		},
		"LS_SQL_METADATA_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "admin-salesproject.database.windows.net"
		},
		"LS_SQL_METADATA_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ASQL_SalesProject_Kiran"
		},
		"LS_SQL_METADATA_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Admin_Sales"
		},
		"LS_SQL_SOURCE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "admin-salesproject.database.windows.net"
		},
		"LS_SQL_SOURCE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SALES"
		},
		"LS_SQL_SOURCE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Admin_Sales"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_EXT_FLATFILE_TO_RAW_DAILY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_GEN_LKP_ConfigFlatFiles",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT *\nFROM Config_Source_To_Raw\nWHERE SourceSystem = 'Flat_File'",
								"queryTimeout": "01:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_METADATA",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "Config_Source_To_Raw"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ACT_ITRC_FOR_EachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ACT_GEN_LKP_ConfigFlatFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ACT_GEN_LKP_ConfigFlatFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 3,
							"activities": [
								{
									"name": "ACT_COPY_FILE_TO_RAW",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SALES_FaltFiles",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@concat(item().SourceTable,'.',item().TargetFormat)",
													"type": "Expression"
												},
												"Delimiter": {
													"value": "@item().Delimiter\n",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_RAW_CSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "Flat_File/Target/@{item().SourceTable}",
													"type": "Expression"
												},
												"FileName": {
													"value": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
													"type": "Expression"
												},
												"Delimiter": "@item().Delimiter"
											}
										}
									]
								},
								{
									"name": "ACT_COPY_TO_ARCHIVE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "ACT_COPY_FILE_TO_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SALES_FaltFiles",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@concat(item().SourceTable,'.',item().TargetFormat)",
													"type": "Expression"
												},
												"Delimiter": "@item().Delimiter"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_RAW_CSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "Flat_File/Archive/@{item().SourceTable}",
													"type": "Expression"
												},
												"FileName": {
													"value": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
													"type": "Expression"
												},
												"Delimiter": "@item().Delimiter"
											}
										}
									]
								},
								{
									"name": "ACT_COPY_TO_FAILURE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "ACT_COPY_FILE_TO_RAW",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SALES_FaltFiles",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@concat(item().SourceTable,'.',item().TargetFormat)",
													"type": "Expression"
												},
												"Delimiter": "@item().Delimiter"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_RAW_CSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "Flat_File/Failure/@{item().SourceTable}",
													"type": "Expression"
												},
												"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
												"Delimiter": "@item().Delimiter"
											}
										}
									]
								},
								{
									"name": "ACT_DELETE_SOURCE_FILE",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "ACT_COPY_TO_ARCHIVE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_ADLS_SALES_FaltFiles",
											"type": "DatasetReference",
											"parameters": {
												"FileName": "@concat(item().SourceTable,'.',item().TargetFormat)",
												"Delimiter": "@item().Delimiter"
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "LS_ADLS_RAW",
												"type": "LinkedServiceReference"
											},
											"path": "raw/Flat_File/Deleted"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_METADATA')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SALES_FaltFiles')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_CSV')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_EXT_SQL_TO_RAW_DAILY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_LKP_CONFIG",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM Config_Source_To_Raw\nWHERE SourceSystem = 'SQLServer'",
								"queryTimeout": "01:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_METADATA",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "Config_Source_To_Raw"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ACT_FOREACH_TABLE",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ACT_LKP_CONFIG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ACT_LKP_CONFIG').output.value",
								"type": "Expression"
							},
							"batchCount": 3,
							"activities": [
								{
									"name": "ACT_IF_INCREMENTAL",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(empty(item().IncrementalColumn))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "ACT_COPY_FULL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat(\n'SELECT * FROM ',\nitem().SourceSchema,'.',item().SourceTable\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_SRC_TABLE",
														"type": "DatasetReference",
														"parameters": {
															"TableName": "@item().SourceTable"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_RAW_CSV",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "SQLServer/Target/@{item().SourceTable}",
															"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
															"Delimiter": "@item.Delimiter"
														}
													}
												]
											},
											{
												"name": "ACT_MT_COPY_TO_FAILURE",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "ACT_COPY_FULL",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"queryTimeout": "01:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_SRC_TABLE",
														"type": "DatasetReference",
														"parameters": {
															"TableName": {
																"value": "@item().SourceTable",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_RAW_CSV",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": {
																"value": "SQLServer/Failure/@{item().SourceTable}",
																"type": "Expression"
															},
															"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
															"Delimiter": "@item.Delimiter"
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "ACT_LKP_WATERMARK",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT LastProcessedValue\nFROM WatermarkTable\nWHERE Table_Name = '@{item().SourceTable}'",
															"type": "Expression"
														},
														"queryTimeout": "01:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_SQL_METADATA",
														"type": "DatasetReference",
														"parameters": {
															"TableName": "WatermarkTable"
														}
													}
												}
											},
											{
												"name": "ACT_COPY_INCREMENTAL",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "ACT_LKP_WATERMARK",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat(\n'SELECT * FROM ',\nitem().SourceSchema,'.',item().SourceTable,\n' WHERE ',item().IncrementalColumn,' >= ''',\nactivity('ACT_LKP_WATERMARK').output.firstRow.LastProcessedValue,\n''''\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_SRC_TABLE",
														"type": "DatasetReference",
														"parameters": {
															"TableName": "@item().SourceTable"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_RAW_CSV",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "SQLServer/Target/@{item().SourceTable}",
															"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
															"Delimiter": {
																"value": "@item.Delimiter",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "ACT_LKP_MAX_VALUE",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "ACT_COPY_INCREMENTAL",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat(\n'SELECT MAX(',item().IncrementalColumn,') AS max_val FROM ',\nitem().SourceSchema,'.',item().SourceTable,\n' WHERE ',item().IncrementalColumn,' >= ''',\nactivity('ACT_LKP_WATERMARK').output.firstRow.LastProcessedValue,\n''''\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_SQL_SRC_TABLE",
														"type": "DatasetReference",
														"parameters": {
															"TableName": "@item().SourceTable"
														}
													}
												}
											},
											{
												"name": "ACT_UPD_WATERMARK",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "ACT_LKP_MAX_VALUE",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[sp_UpdateWatermark]",
													"storedProcedureParameters": {
														"TableName": {
															"value": {
																"value": "@item().SourceTable",
																"type": "Expression"
															},
															"type": "String"
														},
														"IncrementalColumn": {
															"value": {
																"value": "@activity('ACT_LKP_MAX_VALUE').output.firstRow.max_val",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL_METADATA",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_METADATA')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_SRC_TABLE')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_CSV')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_METADATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MASTER_DAILY_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EXEC_LKP_LOAD",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SP_Log_Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_SQL_INGESTION_TO_INTEGRATION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "NB_SCD2_ORDER",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "EXEC_LKP_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/prabhashelake123@gmail.com/Project-Retail/databricks Notebook/NB_TBL_DIM_ORDER-SCD2"
						},
						"linkedServiceName": {
							"referenceName": "LS_ADB_SalesProject",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "NB_FACT_SALES",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "NB_SCD2_ORDER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/prabhashelake123@gmail.com/Project-Retail/databricks Notebook/NB_TBL_FACT_SALES"
						},
						"linkedServiceName": {
							"referenceName": "LS_ADB_SalesProject",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "NB_FACT_INVENTORY",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "NB_FACT_SALES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/prabhashelake123@gmail.com/Project-Retail/databricks Notebook/NB_TBL_FACT_INVENTORY"
						},
						"linkedServiceName": {
							"referenceName": "LS_ADB_SalesProject",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Log_Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[integration].[sp_LogStart]",
							"storedProcedureParameters": {
								"SourceSystem": {
									"value": {
										"value": "@pipeline().parameters.p_SourceSystem",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.p_TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_METADATA",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Log_End",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SETVAR_TargetCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[integration].[sp_LogEnd]",
							"storedProcedureParameters": {
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.p_TableName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TargetCount": {
									"value": {
										"value": "@variables('v_TargetCount')",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_METADATA",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SETVAR_TargetCount",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "NB_FACT_INVENTORY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_TargetCount",
							"value": "@int(activity('NB_FACT_INVENTORY').output.runOutput)"
						}
					},
					{
						"name": "SP_Log_Error_FCT_INVEN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "NB_FACT_INVENTORY",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[integration].[sp_LogError]",
							"storedProcedureParameters": {
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.p_TableName",
										"type": "Expression"
									},
									"type": "String"
								},
								"ActivityName": {
									"value": {
										"value": "@activity('NB_FACT_INVENTORY').name",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorDescription": {
									"value": {
										"value": "@activity('NB_FACT_INVENTORY').error.message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_METADATA",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Log_Error_SCD2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "NB_SCD2_ORDER",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[integration].[sp_LogError]",
							"storedProcedureParameters": {
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.p_TableName",
										"type": "Expression"
									},
									"type": "String"
								},
								"ActivityName": {
									"value": {
										"value": "@activity('NB_SCD2_ORDER').name",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorDescription": {
									"value": {
										"value": "@activity('NB_SCD2_ORDER').error.message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_METADATA",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Log_Error_FCT_SALES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "NB_FACT_SALES",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[integration].[sp_LogError]",
							"storedProcedureParameters": {
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.p_TableName",
										"type": "Expression"
									},
									"type": "String"
								},
								"ActivityName": {
									"value": {
										"value": "@activity('NB_FACT_SALES').name",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorDescription": {
									"value": {
										"value": "@activity('NB_FACT_SALES').error.message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_METADATA",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_SourceSystem": {
						"type": "string",
						"defaultValue": "SQL"
					},
					"p_TableName": {
						"type": "string",
						"defaultValue": "DAILY_SQL_LOAD"
					}
				},
				"variables": {
					"v_TargetCount": {
						"type": "Integer"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_SQL_INGESTION_TO_INTEGRATION')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADB_SalesProject')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_METADATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_RAW_TO_INGESTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_GEN_LKP_CONFIG",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TABLE_NAME, Delimiter FROM ingestion.Config_Raw_Ingestion",
								"queryTimeout": "01:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_CONFIG_RAW_INGESTION",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ACT_ITRC_FOR_EACH_Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ACT_GEN_LKP_CONFIG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ACT_GEN_LKP_CONFIG').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ACT_ADB_NOTE_RawtoIngestion",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.10:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/prabhashelake123@gmail.com/NB_RAW_TO_INGESTION",
										"baseParameters": {
											"p_table_name": {
												"value": "@item().TABLE_NAME",
												"type": "Expression"
											},
											"p_delimiter": {
												"value": "@item().delimiter",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ADB_SalesProject",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_CONFIG_RAW_INGESTION')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADB_SalesProject')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_INGESTION_TO_INTEGRATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_ITRC_FOR_SP",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.spList",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 60,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@item()",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQL_METADATA",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"spList": {
						"type": "array",
						"defaultValue": [
							"Integration.sp_Load_Order_Method_LKP",
							"Integration.sp_Load_Return_Reason_LKP",
							"Integration.sp_Load_Country_LKP",
							"Integration.sp_Load_Warehouse_LKP",
							"Integration.sp_Load_Retailer_LKP",
							"Integration.sp_Load_Product_Name_LKP",
							"Integration.sp_Load_Product_LKP"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_METADATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_TO_RAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACT_GEN_LKP_CONFIG",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.10:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \nFROM Config_Source_To_Raw\nWHERE SourceSystem = 'SQLServer'",
								"queryTimeout": "01:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_METADATA",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "Config_Source_To_Raw"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ACT_ITRC_FOR_ROW_DATA",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ACT_GEN_LKP_CONFIG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ACT_GEN_LKP_CONFIG').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ACT_MT_Copy_SQL_RAW",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "ACT_GEN_LKP_Watermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@if(\nempty(item().IncrementalColumn),\nconcat('SELECT * FROM ',item().SourceSchema,'.',item().SourceTable),\nconcat(\n'SELECT * FROM ',\nitem().SourceSchema,'.',item().SourceTable,\n' WHERE ',\nitem().IncrementalColumn,\n' >= ''',\nactivity('ACT_GEN_LKP_Watermark').output.firstRow.LastProcessedValue,\n''' ORDER BY ',\nitem().IncrementalColumn\n)\n)",
												"type": "Expression"
											},
											"queryTimeout": "01:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_SRC_TABLE",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_RAW_CSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "SQLServer/Target/@{item().SourceTable}",
													"type": "Expression"
												},
												"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
												"Delimiter": "@item.Delimiter"
											}
										}
									]
								},
								{
									"name": "ACT_GEN_LKP_Watermark",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT LastProcessedValue\nFROM WatermarkTable\nWHERE Table_Name = '@{item().SourceTable}'",
												"type": "Expression"
											},
											"queryTimeout": "01:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQL_METADATA",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "WatermarkTable"
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "ACT_GEN_SPRC_UPD_Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ACT_MT_Copy_SQL_RAW",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_UpdateWatermark]",
										"storedProcedureParameters": {
											"TableName": {
												"value": {
													"value": "@item().SourceTable",
													"type": "Expression"
												},
												"type": "String"
											},
											"IncrementalColumn": {
												"value": {
													"value": "@item().IncrementalColumn",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQL_SOURCE",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ACT_MT_COPY_TO_FAILURE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "ACT_MT_Copy_SQL_RAW",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "01:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_SRC_TABLE",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_RAW_CSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderName": {
													"value": "SQLServer/Failure/@{item().SourceTable}",
													"type": "Expression"
												},
												"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
												"Delimiter": "@item.Delimiter"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_METADATA')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_SRC_TABLE')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_CSV')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_SOURCE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_RAW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderName": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					},
					"Delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": {
						"value": "@dataset().Delimiter",
						"type": "Expression"
					},
					"encodingName": "UTF-8",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_SALES_FaltFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_RAW",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"Delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": "sales"
					},
					"columnDelimiter": {
						"value": "@dataset().Delimiter",
						"type": "Expression"
					},
					"encodingName": "UTF-8",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_CONFIG_RAW_INGESTION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_METADATA",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TABLE_NAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_TYPE",
						"type": "varchar"
					},
					{
						"name": "PRIMARY_KEY",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "ingestion",
					"table": "Config_Raw_Ingestion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_METADATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_METADATA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_METADATA",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SourceSystem",
						"type": "nvarchar"
					},
					{
						"name": "SourceSchema",
						"type": "nvarchar"
					},
					{
						"name": "SourceTable",
						"type": "nvarchar"
					},
					{
						"name": "IncrementalColumn",
						"type": "nvarchar"
					},
					{
						"name": "TargetContainer",
						"type": "nvarchar"
					},
					{
						"name": "TargetFileName",
						"type": "nvarchar"
					},
					{
						"name": "TargetFormat",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_METADATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_SRC_TABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_SOURCE",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "SELECT * FROM @{dataset().TableName}",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_SOURCE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADB_SalesProject')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405614428761952.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_ADB_SalesProject_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_ADB_SalesProject_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_RAW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_RAW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_METADATA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_METADATA_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_METADATA_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_METADATA_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_METADATA_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_SOURCE_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_SOURCE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_SOURCE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_SOURCE_password')]"
					}
				},
				"connectVia": {
					"referenceName": "Self-hostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Self-hostedIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRG_MASTER_DAILY_ING_INTG_9AM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_MASTER_DAILY_SQL",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-04-03T19:25:00",
						"endTime": "2026-04-05T19:25:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_MASTER_DAILY_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Self-hostedIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}