pipeline/PL_EXT_SQL_TO_RAW_DAILY.json
{
	"name": "PL_EXT_SQL_TO_RAW_DAILY",
	"properties": {
		"activities": [
			{
				"name": "ACT_LKP_CONFIG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM Config_Source_To_Raw\nWHERE SourceSystem = 'SQLServer'",
						"queryTimeout": "01:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_METADATA",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Config_Source_To_Raw"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_FOREACH_TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_LKP_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_LKP_CONFIG').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "ACT_IF_INCREMENTAL",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(empty(item().IncrementalColumn))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "ACT_COPY_FULL",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n'SELECT * FROM ',\nitem().SourceSchema,'.',item().SourceTable\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_SRC_TABLE",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "@item().SourceTable"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_RAW_CSV",
												"type": "DatasetReference",
												"parameters": {
													"FolderName": "SQLServer/Target/@{item().SourceTable}",
													"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv"
												}
											}
										]
									},
									{
										"name": "ACT_MT_COPY_TO_FAILURE",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "ACT_COPY_FULL",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "01:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_SRC_TABLE",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@item().SourceTable",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_RAW_CSV",
												"type": "DatasetReference",
												"parameters": {
													"FolderName": {
														"value": "SQLServer/Failure/@{item().SourceTable}",
														"type": "Expression"
													},
													"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "ACT_LKP_WATERMARK",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT LastProcessedValue\nFROM WatermarkTable\nWHERE Table_Name = '@{item().SourceTable}'",
													"type": "Expression"
												},
												"queryTimeout": "01:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_SQL_METADATA",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "WatermarkTable"
												}
											}
										}
									},
									{
										"name": "ACT_COPY_INCREMENTAL",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "ACT_LKP_WATERMARK",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n'SELECT * FROM ',\nitem().SourceSchema,'.',item().SourceTable,\n' WHERE ',item().IncrementalColumn,' >= ''',\nactivity('ACT_LKP_WATERMARK').output.firstRow.LastProcessedValue,\n''''\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_SRC_TABLE",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "@item().SourceTable"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_RAW_CSV",
												"type": "DatasetReference",
												"parameters": {
													"FolderName": "SQLServer/Target/@{item().SourceTable}",
													"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv"
												}
											}
										]
									},
									{
										"name": "ACT_LKP_MAX_VALUE",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "ACT_COPY_INCREMENTAL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n'SELECT MAX(',item().IncrementalColumn,') AS max_val FROM ',\nitem().SourceSchema,'.',item().SourceTable,\n' WHERE ',item().IncrementalColumn,' >= ''',\nactivity('ACT_LKP_WATERMARK').output.firstRow.LastProcessedValue,\n''''\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_SQL_SRC_TABLE",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "@item().SourceTable"
												}
											}
										}
									},
									{
										"name": "ACT_UPD_WATERMARK",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "ACT_LKP_MAX_VALUE",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_UpdateWatermark]",
											"storedProcedureParameters": {
												"TableName": {
													"value": {
														"value": "@item().SourceTable",
														"type": "Expression"
													},
													"type": "String"
												},
												"IncrementalColumn": {
													"value": {
														"value": "@activity('ACT_LKP_MAX_VALUE').output.firstRow.max_val",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL_METADATA",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}