pipeline/PL_EXT_FLATFILE_TO_RAW_DAILY.json
{
	"name": "PL_EXT_FLATFILE_TO_RAW_DAILY",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_LKP_ConfigFlatFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM Config_Source_To_Raw\nWHERE SourceSystem = 'Flat_File'",
						"queryTimeout": "01:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_METADATA",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Config_Source_To_Raw"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_ITRC_FOR_EachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_ConfigFlatFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_LKP_ConfigFlatFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "ACT_COPY_FILE_TO_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_SALES_FaltFiles",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().SourceTable,'.',item().TargetFormat)",
											"type": "Expression"
										},
										"Delimiter": {
											"value": "@item().Delimiter\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_RAW_CSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "Flat_File/Target/@{item().SourceTable}",
											"type": "Expression"
										},
										"FileName": {
											"value": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
											"type": "Expression"
										},
										"Delimiter": "@item().Delimiter"
									}
								}
							]
						},
						{
							"name": "ACT_COPY_TO_ARCHIVE",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_COPY_FILE_TO_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_SALES_FaltFiles",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().SourceTable,'.',item().TargetFormat)",
											"type": "Expression"
										},
										"Delimiter": "@item().Delimiter"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_RAW_CSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "Flat_File/Archive/@{item().SourceTable}",
											"type": "Expression"
										},
										"FileName": {
											"value": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
											"type": "Expression"
										},
										"Delimiter": "@item().Delimiter"
									}
								}
							]
						},
						{
							"name": "ACT_COPY_TO_FAILURE",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_COPY_FILE_TO_RAW",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_SALES_FaltFiles",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().SourceTable,'.',item().TargetFormat)",
											"type": "Expression"
										},
										"Delimiter": "@item().Delimiter"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_RAW_CSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "Flat_File/Failure/@{item().SourceTable}",
											"type": "Expression"
										},
										"FileName": "@{item().TargetFileName}_@{formatDateTime(utcNow(),'yyyyMMddHHmmss')}.csv",
										"Delimiter": "@item().Delimiter"
									}
								}
							]
						},
						{
							"name": "ACT_DELETE_SOURCE_FILE",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "ACT_COPY_TO_ARCHIVE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLS_SALES_FaltFiles",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@concat(item().SourceTable,'.',item().TargetFormat)",
										"Delimiter": "@item().Delimiter"
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "LS_ADLS_RAW",
										"type": "LinkedServiceReference"
									},
									"path": "raw/Flat_File/Deleted"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}