pipeline/PL_MASTER_SCD2_FACT TBL.json
{
	"name": "PL_MASTER_SCD2_FACT TBL",
	"properties": {
		"activities": [
			{
				"name": "EXEC_LKP_LOAD",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SP_Log_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_INGESTION_TO_INTEGRATION_SCD1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "NB_SCD2_ORDER",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "EXEC_LKP_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/prabhashelake123@gmail.com/Project-Retail/databricks Notebook/NB_TBL_DIM_ORDER-SCD2"
				},
				"linkedServiceName": {
					"referenceName": "LS_ADB_SalesProject",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "NB_FACT_SALES",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "NB_SCD2_ORDER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/prabhashelake123@gmail.com/Project-Retail/databricks Notebook/NB_TBL_FACT_SALES"
				},
				"linkedServiceName": {
					"referenceName": "LS_ADB_SalesProject",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "NB_FACT_INVENTORY",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "NB_FACT_SALES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/prabhashelake123@gmail.com/Project-Retail/databricks Notebook/NB_TBL_FACT_INVENTORY"
				},
				"linkedServiceName": {
					"referenceName": "LS_ADB_SalesProject",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_Log_Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[integration].[sp_LogStart]",
					"storedProcedureParameters": {
						"SourceSystem": {
							"value": {
								"value": "@pipeline().parameters.p_SourceSystem",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.p_TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_METADATA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_Log_End",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SETVAR_TargetCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[integration].[sp_LogEnd]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.p_TableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TargetCount": {
							"value": {
								"value": "@variables('v_TargetCount')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_METADATA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SETVAR_TargetCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "NB_FACT_INVENTORY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_TargetCount",
					"value": {
						"value": "@int(activity('NB_FACT_INVENTORY').output.runOutput)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_Log_Error_FCT_INVEN",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "NB_FACT_INVENTORY",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[integration].[sp_LogError]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.p_TableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityName": {
							"value": {
								"value": "@activity('NB_FACT_INVENTORY').name",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@activity('NB_FACT_INVENTORY').error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_METADATA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_Log_Error_SCD2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "NB_SCD2_ORDER",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[integration].[sp_LogError]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.p_TableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityName": {
							"value": {
								"value": "@activity('NB_SCD2_ORDER').name",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@activity('NB_SCD2_ORDER').error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_METADATA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_Log_Error_FCT_SALES",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "NB_FACT_SALES",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[integration].[sp_LogError]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.p_TableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ActivityName": {
							"value": {
								"value": "@activity('NB_FACT_SALES').name",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@activity('NB_FACT_SALES').error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_METADATA",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"p_SourceSystem": {
				"type": "string",
				"defaultValue": "SQL"
			},
			"p_TableName": {
				"type": "string",
				"defaultValue": "DAILY_SQL_LOAD"
			}
		},
		"variables": {
			"v_TargetCount": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}