pipeline/PL_SQL_TO_RAW_DYNAMIC.json
{
	"name": "PL_SQL_TO_RAW_DYNAMIC",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_LKP_CONFIG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.10:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * \nFROM Config_Source_To_Raw\nWHERE SourceSystem = 'SQL'",
						"queryTimeout": "01:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_METADATA",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_ITRC_FOR_ROW_DATA",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_LKP_CONFIG').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ACT_MT_Copy_SQL_RAW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_GEN_LKP_Watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@if(\nempty(item().IncrementalColumn),\nconcat('SELECT * FROM ',item().SourceSchema,'.',item().SourceObject),\nconcat(\n'SELECT * FROM ',\nitem().SourceSchema,'.',item().SourceObject,\n' WHERE ',\nitem().IncrementalColumn,\n' > ''',\nactivity('ACT_GEN_LKP_Watermark').output.firstRow.LastProcessedValue,\n''''\n)\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_SRC_TABLE",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "ACT_GEN_LKP_Watermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT LastProcessedValue\nFROM WatermarkTable\nWHERE Table_Name = '@{item().SourceObject}'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQL_METADATA",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}